<% include layouts/header.ejs %>


  <script>
function myFunction() {
    document.getElementById("myForm").reset();
}
</script>


  <div class="container">

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <h2>Registration</h2>

      <a href="/students" style="text-decoration:none;"
      class="btn pull-right">StudentsList</a>
<br><br>

  <% if(errors.length > 0) { %>

  <div class="alert alert-danger">
    <strong>Error!</strong> <%=errors[0].msg%>
  </div>
  <% } %>

  <form action="/students/AddStudent" method="POST" id="myForm">
    <div class="form-group">
      <label for="name">Name *:</label>
      <input type="text" class="form-control" name="name" id="name" value="<%=formData.name || '' %>" />
    </div>
    <div class="form-group">
      <label for="email">Email *:</label>
      <input type="email" class="form-control" name="email" id="email" value="<%=formData.email || ''%>" />
    </div>
    <div class="form-group">
      <label for="phone">Phone *:</label>
      <input type="text" class="form-control" name="phone" id="phone" value="<%=formData.phone || ''%>" />
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <input type="button"  class="btn btn-default" onclick="myFunction()" value="Reset">

  </form>
</div>
</div>

  </div>


<% include layouts/footer.ejs %>
